spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "https://pinit.go-gradually.me"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
                allowed-headers:
                  - "*"
                allow-credentials: true
                max-age: 3600
          routes:
            - id: notification-service
              uri: http://notification-service
              predicates:
                - Host=notification.pinit.go-gradually.me
            - id: auth-service
              uri: http://auth-service
              predicates:
                - Host=auth.pinit.go-gradually.me
            - id: task-service
              uri: http://task-service
              predicates:
                - Host=api.pinit.go-gradually.me

path:
  key:
    jwt:
      public: /etc/keys/jwt-public-key.pem


cors:
  allowed-origins:
    - "https://pinit.go-gradually.me"
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowed-headers:
    - "*"
  allow-credentials: true
  max-age: 3600
